
// navabr styling


.nav-item{
    margin-left: 10px !important;
    .nav-link{
        color: black !important;
          
        font-weight: 600;
        font-size: 20px;
    }
}
.navbar-brand{
    color: black !important;
    font-weight: 700;
}


// BANNER STYLING 
.banner{
    background-image: url("../../assets/images/banner.webp");  
    width: 100%;
    height: 600px;
    margin-top: 10px;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    &::before{
       position: absolute;
           content: "";
           top: 88px;
           left: 0;
           right: 0;
           bottom: 0;
           background: rgba(0,0,0,.3);
           height: 600px;
           background-position: center;
           background-size: cover;
           overflow: hidden;
           z-index: 1;
       }
       
   .banner-text{
       margin-top: 200px !important;
      z-index: 1;
      position: relative;
      h1{
          color: white;
          font-size: 50px;
      }
   }
   }



