.lat{
 
    background-color:#F8F9FA; 
    margin-top: 100px;

    
 

}
.img-wrap{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 250px;
    flex: 0 0 250px;
    margin-right: 30px;
}
.box-right{
    height: 303px;
}
.box-left{
height: 630px;

.box-img{
    margin:20px;
    height: 300px;
    img{
        height: 300px;
    }
}
.box-head{
    margin: 20px;
}


}
