.footer-about{
   p{
       color: gray;
       font-size: 18px;
       
   }
}
h6{
    font-size: 25px !important;
    font-weight: normal !important;

}
.footer-link{
    li{
        font-size: 16px !important;
        color: gray !important;
        cursor: pointer;
    }
}
.footer-social{
    li{
        font-size: 25px;
        margin-right: 25px;
        cursor: pointer;
    }
}
.footer-copy{
    p{
        color: gray;
        font-weight: 700;
        font-size: 18px;
    }
}
